<form [formGroup]="$form()" (ngSubmit)="operate()" class="example-container">

    <!-- ID oculto -->
    <div hidden>
        <mat-form-field>
            <mat-label>ID</mat-label>

            <input
                matInput
                placeholder="ID"
                formControlName="idProduct"
            >

        </mat-form-field>
    </div>

    <!-- NAME -->
    <mat-form-field>

        <mat-label>NAME</mat-label>

        <input
            matInput
            placeholder="Name"
            formControlName="name"
        >

    </mat-form-field>

    <!-- DESCRIPTION -->
    <mat-form-field>

        <mat-label>DESCRIPTION</mat-label>

        <input
            matInput
            placeholder="Description"
            formControlName="description"
        >

    </mat-form-field>

    <!-- SALE PRICE -->
    <mat-form-field>

        <mat-label>SALE PRICE</mat-label>

        <input
            matInput
            type="number"
            placeholder="Sale Price"
            formControlName="salePrice"
        >

    </mat-form-field>

    <!-- PRODUCTION COST -->
    <mat-form-field>

        <mat-label>PRODUCTION COST</mat-label>

        <input
            matInput
            type="number"
            placeholder="Production Cost"
            formControlName="productionCost"
        >

    </mat-form-field>

    <!-- TYPE -->
    <mat-form-field>

        <mat-label>TYPE</mat-label>

        <input
            matInput
            placeholder="Type"
            formControlName="type"
        >

    </mat-form-field>

    <!-- UNIT MEASURE -->
    <mat-form-field>

        <mat-label>UNIT MEASURE</mat-label>

        <input
            matInput
            placeholder="Unit Measure"
            formControlName="unitMeasure"
        >

    </mat-form-field>

    <!-- CATEGORY -->
    <mat-form-field>

        <mat-label>CATEGORY</mat-label>

        <mat-select
            formControlName="category"
            [compareWith]="compareCategories"
        >

            @for (c of $categories(); track c.idCategory) {

                <mat-option [value]="c">

                    {{c.name}}

                </mat-option>

            }

        </mat-select>

    </mat-form-field>

    <!-- STATUS -->
    <mat-checkbox formControlName="status">

        Active

    </mat-checkbox>

    <!-- BUTTONS -->
    <div>

        <button mat-flat-button type="submit">

            <span>OK</span>
            <mat-icon>done</mat-icon>

        </button>

        <button
            mat-flat-button
            type="button"
            class="cancel-button"
            routerLink="/pages/product"
        >

            <span>Cancel</span>
            <mat-icon>cancel</mat-icon>

        </button>

    </div>

</form>
